$mainColor: #010A43;
$primarycolor1 : #FF3F98;
$primaryHover: #F875AA;
$mainColortop: #FB0091;

$primarycolor2 : #F3D3D3;
$primarycolor4:#FFF1E9;
$primaryGray: #45454D;
$mainTransition: all 0.5s ease;
