@import "../../global.scss";
.work{
    background-color: $primarycolor1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    

    .arrow{
        font-size: 60px;
        position: absolute;
        color: white;
        cursor: pointer;
        @include mobile{
            display: none;
    }
        &.left{
            left: 100px;
        }
        &.right{
            right: 100px;
        }
    }
    .slider{
        height: 22rem;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-in-out;
        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
    }
        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 48rem;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include mobile{
                    width: 90%;
                    height: 230px;
                    margin: 20px 0;
    }
                .left{
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .imgContainer{
                            width: 3rem;
                            height: 3rem;
                            border-radius: 50%;
                            background-color: $primaryHover;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .img{
                                font-size: 2rem !important;
                                color: white;
                            }
                        }
                        h2{
                            font-size: 20px;

                        }
                        p{
                            font-size: 14px;
                        }
                        span{
                            font-size: 12px;
                            font-weight: 700;
                            text-decoration: underline;
                            color: $mainColortop;
                            cursor: pointer;
                        }
                    }
                }
                .right{
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    img{
                        height: 400px;
                        transform: rotate(-15deg);
                        object-fit: cover;
                    }
                }
            }
        }
    }

}